body {
	width: 100%;
}


#wrapper {
		margin: 0 auto 0 40px;
		width: 720px;
	@media only screen and (max-width: 799px) 	{
		margin: 0 5% 0 5%;
		width: 90%;
		}
	}


header {
	clear: both;
	margin: 0;
	}	
	
article {
	margin-bottom: 2em;
	clear: both;
	}
	
article footer {
	
	}
	
div#secondary {
	margin-top: 2*$line;
	nav.bottom {
	float: right;
	width: 100%;
	clear: both;
	}
	div#nav-links {
	float: left;
	width: 40%;
	margin: 0.5*$line 0;
	}
	section#about-english {
		float: left;
		margin-right: 10%;
		width: 40%;
		@media only screen and (max-width: 799px) 	{
			clear: both;
			width: 100%;
		}
		}
	section#about-german {
		float: right;
		width: 40%;
		@media only screen and (max-width: 799px) 	{
			clear: both;
			width: 100%;
		}
		}
	p.flattr-button, p.about-flattr {
		clear: both;
		}
	}
	
	
footer#pagination {

	}
	