/* Custom Layouts for certain posts etc */

/* Interview styling */

.q, .ans {
	margin-bottom: $line;
	}
	
.q {
	font-style: italic;
	}

/* Styles for photo posts */

.photo-full {
	width: 100%;
}

.photo-info {
	margin-top: $line;
}

.photo-info span {
	font-size: 0.8*$base-size;
	margin-right: 1em;
	a {
		color: $text;
	}
	a:hover {
		color: $accent2;
	}
}

.photo {
	h1 {
		font-size: 1em;
		line-height: $line;
		margin: $line 0 0 0;
		width: 72%;
		font-weight: 500;
		a.permalink:hover {
			color: $accent2;
			}
		}
}
	
/* Sligthly hacky styles for images in posts */

.img-link, .img-link-left, .img-link-right, a.img-link-block {
	border: none;
	}
	
a.img-link:hover, a.img-link:visited, a.img-link-left:hover, a.img-link-left:visited, a.img-link-right:hover, a.img-link-right:visited, a.img-link-block:hover, a.img-link-block:visited {
	border: none;
	}
	
.img-link-left, .img-left {
	float: left;
	margin-right: 1em;
	}
	
.img-link-right {
	float: right;
	margin-left: 1em;
	}
	
.img-link-block {
	margin: $line 0;
	clear: both;
	img {
		clear: both;
		}
	span {
		float: left;
		}
	}
	
.caption {
	font-size: 0.9em;
	font-style: italic;
	width: 100%;
	display: block;
	a {
		color: $text-light;
		border: none;
		}
	}

/* Footnotes */	
	
div.footnotes {
	margin: $line 0;
	padding: 0 $line;
	a {
		border: none;
		}
	}
	
	
.ftnl {
	border: none;
	margin-right: -0.1em;
	}

/* Pullquotes */
	
.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.3em;
  line-height: $line;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

