/* Octolog 
Marcel Langer

*/

@import "normalize"; /* Just some normalizing */

/* Declarin' stuff and stuff */

/* Colours */
$bg: #222;
$accent: #FFA100;
$accent2: #00B3C9;
$accent_dim: #FFA100;
$accent2_dim: #004149;
$text: #eee;
$text-light: #aaa;
$sub: #444;
$link-border: #555;

/* Type */

@font-face { font-family: Chunk; src: url('http://localhost:4000/fonts/Chunkfive-webfont.ttf');}
$body-font: "Adobe Garamond Pro",Palatino, Georgia, serif;
$header-font: "Adobe Garamond Pro",Palatino, Georgia, serif;
$base-size: 16px;
$base-line: 24px;
$line: 1.5em;

/* Responsive stuff and stuff */

$wide: 800px;
$wide-max: 799px;


/* Importing stuff and stuff */

@import "styling";
@import "layout";
