/* 

The octolog theme
by: Marcel Langer
very, very loosely based on Ethan Turkeltaub's theme (http://ethan.heroku.com/)

*/

@import "normalize"; /* Just some normalizing */

/* Declarin' stuff and stuff */

/* Colours */
$bg: #222;
$accent: #FFA100;
$accent2: #FF640D; /*  blue: #00B3C9*/
$accent_dim: #FFA100;
$accent2_dim: #004149;
$text: #eee;
$text-light: #aaa;
$sub: #444;
$link-border: #555;

/* Type */


$body-font: Palatino, Georgia, serif;
$header-font: "Helvetica Neue", Helvetica, sans-serif;
$base-size: 16px;
$base-line: 24px;
$line: 1.5em;

/* Responsive stuff and stuff */

$wide: 800px;
$wide-max: 799px;


/* Importing stuff and stuff */

@import "styling";
@import "layout";
@import "specifics";
