---
layout: default
---

{% assign index = true %}
{% for page in paginator.posts %}
{% assign content = page.content %}
	{% include article.html %}
{% endfor %}
<footer class="row" id="pagination">
	<nav>
		{% if paginator.next_page %}
			<span id="older"><a href="{{ paginator.next_page }}">&larr; Older</a></span>
		{% endif %}
		{% if paginator.next_page or paginator_previous.page %}
			<span id="number">{{ paginator.page }} <em>of</em> {{ paginator.total_pages }}</span>
		{% endif %}
		{% if paginator.previous_page %}
			<span id="newer"><a href="{{ paginator.previous_page }}">Newer &rarr;</a></span>
		{% endif %}
	</nav>
</footer>

