<!-- Custom tracking scripts, Typekit etc. pp. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="hisrc.js"></script>
  <script>

  

    // for performance run speed test before dom is ready.
    $.hisrc.speedTest();

    $(document).ready(function(){

      $("img.hisrc").hisrc({
        useTransparentGif: false,
      });

    });

  </script>

<script type="text/javascript" src="http://use.typekit.com/daj0gkz.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript">
		/* <![CDATA[ */
		    (function() {
        	var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
	        s.type = 'text/javascript';
    	    s.async = true;
        	s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
	        t.parentNode.insertBefore(s, t);
    		})();
		/* ]]> */
		</script>
		<script src="http://mint.lumenlog.com/?js" type="text/javascript"></script>
<link href="http://feeds.feedburner.com/lumenlog" rel="alternate" title="Lumenlog" type="application/rss+xml" />