<!-- Custom tracking scripts, Typekit etc. pp. -->

<script type="text/javascript" src="http://use.typekit.com/daj0gkz.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript">
		/* <![CDATA[ */
		    (function() {
        	var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
	        s.type = 'text/javascript';
    	    s.async = true;
        	s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
	        t.parentNode.insertBefore(s, t);
    		})();
		/* ]]> */
		</script>