<article class="{% if page.external-url %}link{% else %}article{% endif %}">
	<header>
		{% if page.external-url %}
			<h1>
				<a href="{{ page.external-url }}">{{ page.title }}</a>
				<a class="permalink" href="{{ page.url }}">∞</a>
			</h1>
		{% else %}
			{% if page.meta:img %}
				<img class="article-img" src="/images/title-images/{{ page.meta:img }}.png"> 
			{% endif %}
			<h1 class="article-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
			{% if page.meta:sub %}<h2 class="sub-title">{{ page.meta:sub }}</h2>{% endif %}
		{% endif %}
	</header>
	<section class="content">
		{{ content }}
	</section>
	<footer>
		<span class="date">{{ page.date | date:"%d.%m.%Y" }}</span>
		{% if page.meta:via %}
			<span class="via">via {{ page.meta:via }}</span>
		{% endif %}
	</footer>
</article>
