<div id="secondary">
				{% if site.simple_search %}
				<form id="search" action="{{ site.simple_search }}" method="get">
				  <fieldset role="search">
					    <input type="hidden" name="sites" value="lumenlog.com" />
					    <input class="search" type="text" name="q" results="0" placeholder="Search&hellip;"/>
				  </fieldset>
				</form>
				{% endif %}
				<section id="about-english">
				<p>Oh. You made it all the down here. Congratulations, you seem to be liking this so far. :) Time to get acquainted.</p>
				</section>
				<section id="about-german">
				<p>Hallo. Ich bin Marcel, hier schreibe ich über Dinge, die mich faszinieren. Wenn du wissen willst, wer ich bin, was das hier soll und wie es funktioniert, solltest du <a href="http://lumenlog.com/about" title="About">hier weiterlesen.</a> Eine Übersicht über die bis jetzt erschienenen Artikel findest du in den <a href="http://lumenlog.com/archive">Archiven</a>, mich auf <a href="http://twitter.com/xartas">Twitter</a> und den Sinn des Lebens vermutlich woanders.</p>
				<p>Eigenwerbung: Ich spreche beim <a href="http://retinacast.de">Retinacast</a> über Serien, liste <a href="http://sirmarcel.com/nsfw" title="Shoppen mit Tim und Holgi">hier</a> die Empfehlungen im Podcast NSFW auf und habe vor einer Weile <a href="http://simplett.com">simplett</a> geschrieben.</p>
				</section>
				<p class="flattr-button"><a class="FlattrButton" style="display:none;" href="http://lumenlog.com/"></a>
				<noscript><a href="http://flattr.com/thing/3276/Lumenlog" target="_blank">
				<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript></p>
				<p class="about-flattr"><a href="http://quietube.com/v.php/http://www.youtube.com/watch?v=4Hcs7KDvDBo">Was ist Flattr?</a></p>
			</div> 
			
			
			
			<footer class="instapaper_ignore">
				<span class="copyright_link">This blog is released under a <a class="link-license" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/de/">CC-BY-NC</a> license.</span>
				<span class="impressum_link"><a href="http://lumenlog.com/impressum">Impressum</a></span>
			<span class="feed_link"></span>–
<span class="powered_link">Powered by <a href="http://octopress.org/">Octopress</a>, hosted by <a href="http://webfaction.com/">Webfaction</a> and <a href="http://haveamint.com/">Minted</a>, of course.
</span>
			</footer>
		</div>
		
		<!--[if lt IE 7 ]>
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
			<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->
	</body>
</html>