<div id="secondary" class="instapaper_ignore">
				<nav class="bottom">
				{% if site.simple_search %}
				<form id="search" action="{{ site.simple_search }}" method="get">
				  <fieldset>
					    <input type="hidden" name="sites" value="example.com" />
					    <input class="search" type="text" name="q" placeholder="Search&hellip;"/>
				  </fieldset>
				</form>
				{% endif %}
				<div id="nav-links">
					<a href="/about" class="nav-link">About & Colophon</a>
					<a href="/archive" class="nav-link">Archive</a>
				</div>
				</nav>
				<section id="about-english">
				<p>Put some custom text here.</p>
				</section>
				<section id="about-german">
				<p>
				And some more here.
				</section>
				<!-- Put a Flattr button here
				
				<p class="about-flattr"><a href="http://quietube.com/v.php/http://www.youtube.com/watch?v=4Hcs7KDvDBo">Was ist Flattr?</a></p> -->
			</div> 
			
			
			
			<footer class="instapaper_ignore">
				<span class="copyright_link">This blog is released under a <a class="link-license" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/de/">CC-BY-NC</a> license.</span>
				<span class="impressum_link"><a href="/impressum">Impressum</a></span>. <span class="feed_link"><a href="/atom.xml">Feed</a></span>. <span <span class="powered_link">Powered by <a href="http://octopress.org/">Octopress</a>. The theme is forked from <a href="https://github.com/sirmarcel/octolog">octolog</a>.
</span>
			</footer>
		</div>
		
		<!--[if lt IE 7 ]>
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
			<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->
	</body>
</html>