{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="My blog. I write about stuff here." name="description">
		<meta content="Jane Doe" name="author">
		
		<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Lumenlog</title>
		
		<link href="humans.txt" rel="author" type="text/plain">
		<link href="/favicon.png" rel="icon">
		<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="" rel="alternate" title="My blog, yo" type="application/rss+xml" />
		<!-- Put your tracking scripts etc. pp. in this file -->
		{% include custom/header-custom.html %}

	</head>
	<body>
		<div id="wrapper">
			<header class="row instapaper_ignore">
				<h1 id="site-title"><a class="site-link" href="/">{{ site.title }}</a></h1>
			</header>