<article class="photo">
	<img class="hisrc photo-full" src="{{ site.photo_root }}/{{ post.photo-name }}-mobile.jpg" data-1x="{{ site.photo_root }}/{{ post.photo-name }}-1x.jpg" data-2x="{{ site.photo_root }}/{{ post.photo-name }}-2x.jpg">
	<header>
		<h1 class="photo-title">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h1>
	</header>
	<section class="content">
		{{ content }}
	</section>
	<section class="photo-info">
		{% if post.camera %}
			<span>Kamera: {{ post.camera }}</span>
		{% endif %}
		{% if post.f_stop %}
			<span>F-Stop: {{ post.f_stop }}</span>
		{% endif %}
		{% if post.focal %}
			<span>Brennweite: {{ post.focal }}mm</span>
		{% endif %}
			<span><a href="{{ site.photo_root }}/{{ post.photo-name }}.jpg">Bild in voller Auflösung</a></span>

		
	</section>
	{% include post/footer.html %}
</article>
