<article class="article">
	<header>
			{% if post.title-img %}
				<img class="article-img" src="/images/title-images/{{ post.title-img }}.png"> 
			{% endif %}
			{% if post.meta:img %}
				<img class="article-img" src="/images/title-images/{{ post.meta:img }}.png"> 
			{% endif %}
			<h1 class="article-title">
				<a href="{{ post.url }}">
					{% if post.post-label %}
						<span class="post-label">{{ post.post-label }}</span>
					{% endif %}
					{{ post.title }}
				</a>
			</h1>
			{% if post.meta:sub %}<h2 class="sub-title">{{ post.meta:sub }}</h2>{% endif %}
			{% if post.sub-title %}<h2 class="sub-title">{{ post.sub-title }}</h2>{% endif %}
	</header>
	<section class="content">
		{{ content }}
	</section>
	{% include post/footer.html %}
</article>

