<article class="{% if page.external-url %}link{% else %}article{% endif %}">
	<header>
		{% if page.external-url %}
			<h1 class="link-title">
				<a href="{{ page.external-url }}">{{ page.title }}</a>
				<a class="permalink" href="{{ page.url }}">∞</a>
			</h1>
		{% else %}
			{% if page.title-img %}
				<img class="article-img" src="/images/title-images/{{ page.title-img }}.png"> 
			{% endif %}
			{% if page.meta:img %}
				<img class="article-img" src="/images/title-images/{{ page.meta:img }}.png"> 
			{% endif %}
			<h1 class="article-title">
				<a href="{{ page.url }}">
					{% if page.post-label %}
						<span class="post-label">{{ page.post-label }}</span>
					{% endif %}
					{{ page.title }}
				</a>
			</h1>
			{% if page.meta:sub %}<h2 class="sub-title">{{ page.meta:sub }}</h2>{% endif %}
			{% if page.sub-title %}<h2 class="sub-title">{{ page.sub-title }}</h2>{% endif %}
			
		{% endif %}
	</header>
	<section class="content">
		{{ content }}
	</section>
	<footer>
		<span class="date">{{ page.date | date:"%d.%m.%Y" }}</span>
		{% if page.meta:via %}
			<span class="via">via {{ page.meta:via }}</span>
		{% endif %}
		{% if page.via %}
			<span class="via">via {{ page.via }}</span>
		{% endif %}
		{% include post/categories.html %}
	</footer>
</article>
