<div id="secondary" class="instapaper_ignore">
				<nav class="bottom">
				{% if site.simple_search %}
				<form id="search" action="{{ site.simple_search }}" method="get">
  					<fieldset role="search">
    					<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    					<input class="search" type="text" name="q" results="0" placeholder="Search&hellip;"/>
  					</fieldset>
				</form>
				{% endif %}
				<div id="nav-links">
					<a href="/about" class="nav-link">About & Colophon</a>
					<a href="/archive" class="nav-link">Archive</a>
				</div>
				</nav>
				<section id="about-english">
				<p>Hi, I'm Marcel, this is where I put stuff on the internet. You can follow me on <a href="https://twitter.com/xartas">Twitter</a>, read the <a href="/about">about page</a> (if you're into that sort of thing) or just explore this blog. Have fun!</p>
				</section>
				<section id="about-german">
				<p>
				Hi. Ich bin Marcel, hier schreibe ich über Sachen, die ich interessant finde. Du kannst mir auch auf <a href="https://twitter.com/sirmarcel">Twitter</a> folgen, oder mir beim <a href="http://retinacast.de">Retinacast</a> dabei zuhören, wie ich mich mit anderen über Serien unterhalte. Oder dich einfach weiter umschauen. Viel Spaß!
				</section>
				<p class="flattr-button"><a class="FlattrButton" style="display:none;" href="http://lumenlog.com/"></a>
				<noscript><a href="http://flattr.com/thing/3276/Lumenlog" target="_blank">
				<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript></p>
				<p class="about-flattr"><a href="http://quietube.com/v.php/http://www.youtube.com/watch?v=4Hcs7KDvDBo">Was ist Flattr?</a></p>
			</div> 
			
			
			
			<footer class="instapaper_ignore">
				<span class="copyright_link">This blog is released under a <a class="link-license" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/de/">CC-BY-NC</a> license.</span>
				<span class="impressum_link"><a href="/impressum">Impressum</a></span>. <span class="feed_link"><a href="http://feeds.feedburner.com/lumenlog">Feed</a></span>. <span <span class="powered_link">Powered by <a href="http://octopress.org/">Octopress</a>, hosted by <a href="http://webfaction.com/">Webfaction</a> and <a href="http://haveamint.com/">Minted</a>, of course. Code is on <a href="https://github.com/sirmarcel/octolog">Github</a>.
</span>
			</footer>
		</div>
		
		<!--[if lt IE 7 ]>
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
			<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->
	</body>
</html>