{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" >
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="The home of student and web developer Ethan Turkeltaub." name="description">
		<meta content="Ethan Turkeltaub" name="author">
		
		<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Lumenlog</title>
		
		<link href="humans.txt" rel="author" type="text/plain">
		<link href="/favicon.png" rel="icon">
		<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="http://feeds.feedburner.com/turkeltaub" rel="alternate" title="Ethan Turkeltaub" type="application/rss+xml" />
		<script type="text/javascript" src="http://use.typekit.com/daj0gkz.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="wrapper">
			<header class="row instapaper_ignore">
				<h1 id="site-title"><a idea="site-link" href="/">Lumenlog.</a></h1>
			</header>