{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="Das Blog von Marcel. Anscheinend schreibt er dort über interessante Dinge." name="description">
		<meta content="Marcel Langer" name="author">
		
		<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Lumenlog</title>
		
		<link href="humans.txt" rel="author" type="text/plain">
		<link href="/favicon.png" rel="icon">
		<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="http://feeds.feedburner.com/lumenlog" rel="alternate" title="Lumenlog" type="application/rss+xml" />
		<script type="text/javascript" src="http://use.typekit.com/daj0gkz.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript">
		/* <![CDATA[ */
		    (function() {
        	var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
	        s.type = 'text/javascript';
    	    s.async = true;
        	s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
	        t.parentNode.insertBefore(s, t);
    		})();
		/* ]]> */
		</script>
		<script src="/mint/?js" type="text/javascript"></script>
	</head>
	<body>
		<div id="wrapper">
			<header class="row instapaper_ignore">
				<h1 id="site-title"><a class="site-link" href="/">Lumenlog.</a></h1>
			</header>