{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="I'm Marcel. This is where I put things on the internet." name="description">
		<meta content="Marcel" name="author">
		
		<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Lumenlog</title>
		
		<link href="humans.txt" rel="author" type="text/plain">
		<link href="/favicon.png" rel="icon">
		<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<!-- Remove this include for testing, then put your own tracking scripts etc. in this file -->
		{% include custom/header-custom.html %}

	</head>
	<body>
		