ErrorDocument 400 /404/index.html
ErrorDocument 401 /404/index.html
ErrorDocument 403 /404/index.html
ErrorDocument 404 /404/index.html
ErrorDocument 500 /404/index.html

# Fixing the permalinks
Redirect /articles /post
Redirect /links /post

# Fixing images thingie

Redirect /images/2008 /images/articles/2008
Redirect /images/2009 /images/articles/2009


# Specific redirects
Redirect /wp-content/uploads/2008/11/trackpad.jpg /images/articles/2008/11/trackpad.jpg
