ErrorDocument 400 /404/index.html
ErrorDocument 401 /404/index.html
ErrorDocument 403 /404/index.html
ErrorDocument 404 /404/index.html
ErrorDocument 500 /404/index.html

Redirect /articles /post
Redirect /links /post